<div class="navbar navbar-expand-sm navbar-light fixed-top navbar-lewagon container">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <h1>Daily Sneakers</h1>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="grid">
      <form action="/sneakers" method="get" class="search">
        <div class="form__field">
          <input type="search" name="search" placeholder="Article name or keywords..." class="form__input">
          <div class="dropdown">
            <button class="btn dropdown-custom dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              All category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <input type="submit" value="Search" class="button">
        </div>
      </form>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="nav-buttons d-flex justify-content-between">
              <%= link_to "Sign up", new_user_registration_path, class: "signup" %>
              <%= link_to "Log in", user_session_path, class: "login" %>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
