<header data-controller="home">
  <div class="main-img">
    <div class="background-img">
      <%= image_tag "background.png"%>
    </div>
    <div class="sneaker-img">
      <h3>Comparing the prices of sneakers has never <br>
         been easier!</h3>
      <div id="slider">
        <div><%= image_tag "patta.png"%></div>
        <div><%= image_tag "Wotherspoon.png"%></div>
        <div><%= image_tag "LDWaffle.png"%></div>
        <div><%= image_tag "Travis.png"%></div>
      </div>
    </div>
  </div>
</header>
<section class="container">
  <div class="row most-hype-card">
    <h2>Most Hyped</h2>
    <div class="col-sm">
      <%= image_tag "most1.png" %>
      <p>Nike Dunk Low « Ocean »</p>
    </div>
    <div class="col-sm">
      <%= image_tag "most2.png" %>
      <p>Travis Scott x Nike Air Max 1<br>
        « Baroque Brown »</p>
    </div>
    <div class="col-sm">
      <%= image_tag "most3.png" %>
      <p>Nike Dunk Low SE « Sun Club »</p>
    </div>
    <%= link_to sneakers_path do %>
      <div class="view-more">
        <div id="container">
          <button class="learn-more">
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">All sneakers</span>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</section>
<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1569710084961-8db1abda6000?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80);">
  <div class="container">
    <h1>We compare prices on all the top sneaker brands <br>
      so you can get the best deal every time!</h1>
  </div>
</div>
<section class="up-coming">
  <h2>Upcoming releases</h2>
  <div class="d-flex scroll">
    <% @upcoming_sneakers.each do |sneaker|%>
      <%= link_to sneaker_path(sneaker),class:"upcoming-link" do %>
        <div class="upcoming-card">
          <div class="upcoming-card-image" style="background-image: url(<%= sneaker.imgurl %>)">
            <% case sneaker.brand.downcase %>
            <% when 'nike' %>
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" alt="" class="index-card-logo">
            <% when 'adidas' %>
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/20/Adidas_Logo.svg" alt="" class="index-card-logo">
            <% when 'air jordan' %>
            <img src="https://upload.wikimedia.org/wikipedia/fr/3/37/Jumpman_logo.svg" alt="" class="index-card-logo">
            <% when 'new balance' %>
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/New_Balance_logo.svg" alt="" class="index-card-logo">
            <% when 'reebok' %>
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Reebok_2019_logo.svg" alt="" class="index-card-logo">
            <% when 'puma' %>
            <img src="https://upload.wikimedia.org/wikipedia/fr/4/49/Puma_AG.svg" alt="" class="index-card-logo">
            <% when 'kangaroos' %>
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/be/Kangourou.svg" alt="" class="index-card-logo">
            <% when 'dior' %>
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Dior_Logo.svg" alt="" class="index-card-logo">
          <% else %>
            <img src="" alt="" class="index-card-logo"> %>
          <% end %>
          <div class="upcoming-card-date"><%= sneaker.release %></div>
        </div>
        <div class="upcoming-card-block">
          <h5><%= sneaker.brand %> <br>
            <%= sneaker.model %></h5>
        <% end %>
        <div class="upcoming-card-bottom">
          <p class="upcoming-card-price"><%= sneaker.prices.map{|i| i.price}.max %>$</p>
          <div class="upcoming-card-shared">
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-share-nodes"></i>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</section>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1530202218-5a52c6d42753?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">
  <div class="container">
    <h2>Sign up to add a sneakers <br>
      to your wishlist</h2>
    <div class="nav-buttons d-flex justify-content-between">
      <%= link_to "Sign up", new_user_registration_path, class: "signup-banner" %>
    </div>
  </div>
</div>
