<div class="container custom-margin">
  <div class="d-flex justify-content-between">
    <h4>My profile</h4>
    <div class="btn-group nav-dashboard" role="group" aria-label="Basic outlined example">
      <%= link_to 'Wishlist', wishlist_path, class: "btn btn-outline-secondary"%>
      <%= link_to 'Collection', collection_path, class: "btn btn-outline-secondary"%>
      <%= link_to 'Profile', profile_path, class: "btn btn-outline-secondary active"%>
    </div>
  </div>
  <div class="wrapper">
    <div class="profile-card js-profile-card">
      <div class="profile-card__img">
        <% if current_user.avatar.key.nil? %>
          <%= image_tag "https://thumbs.dreamstime.com/b/avatar-par-d%C3%A9faut-ic%C3%B4ne-profil-vectoriel-m%C3%A9dias-sociaux-utilisateur-portrait-176256935.jpg" %>
        <% else %>
          <%= cl_image_tag current_user.avatar.key %>
        <% end %>
      </div>
      <div class="profile-card__cnt js-profile-cnt">
        <div class="profile-card__name"> <%= current_user.first_name %> <%= current_user.last_name %></div>
        <div class="profile-card__txt">Your default sneaker size is  <strong><%= current_user.size %></strong></div>
        <div class="profile-card-inf">
          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title"><%= Wishlist.where(user_id: current_user).length %></div>
            <div class="profile-card-inf__txt">Sneakers in your wishlist</div>
          </div>
          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title"><%= Collection.where(user_id: current_user).length %></div>
            <div class="profile-card-inf__txt">Sneakers in your collection</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
