<div class="container custom-margin" data-controller="wishlist">
  <div class="d-flex justify-content-between">
    <h4>My wishlist</h4>
    <div class="btn-group nav-dashboard" role="group" aria-label="Basic outlined example">
      <%= link_to 'Wishlist', wishlist_path, class: "btn btn-outline-secondary active"%>
      <%= link_to 'Collection', collection_path, class: "btn btn-outline-secondary"%>
      <%= link_to 'Profile', profile_path, class: "btn btn-outline-secondary"%>
    </div>
  </div>
  <h2>Actual value: <%= @total %>€</h2>
  <div class="graph">
    <canvas
  data-controller="chart"
  data-chart-data-value='{ "labels": ["<%= @xxxxx_month%>", "<%= @xxxx_month%>", "<%= @xx_month%>", "<%= @x_month%>", "<%= @month%>"], "datasets": [{ "label": "My First dataset", "backgroundColor": "transparent", "borderColor": "#3B82F6", "data": [<%= @xxxx_total%>, <%= @xxx_total%>, <%= @xx_total%>, <%= @x_total%>, <%= @total%>] }] }'
></canvas>
  </div>
  <div class="d-flex mt-5">
    <h4>Sneakers</h4>
  </div>
  <div class="dashboard-table" data-controller='alertprice'>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="justify-text">Model</th>
          <th>Expected price</th>
          <th>Release date</th>
          <th>Actual price</th>
        </tr>
      </thead>
      <tbody>
        <% @sneaker.each do |snk| %>
          <tr>
            <td class="justify-text">
              <% case snk.sneaker.brand.downcase %>
              <% when 'nike' %>
              <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" alt="" class="index-card-logo">
              <% when 'adidas' %>
              <img src="https://upload.wikimedia.org/wikipedia/commons/2/20/Adidas_Logo.svg" alt="" class="index-card-logo">
              <% when 'air jordan' %>
              <img src="https://upload.wikimedia.org/wikipedia/fr/3/37/Jumpman_logo.svg" alt="" class="index-card-logo">
              <% when 'new balance' %>
              <img src="https://www.logo.wine/a/logo/New_Balance/New_Balance-Logo.wine.svg" alt="" class="index-card-logo">
              <% when 'reebok' %>
              <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Reebok_2019_logo.svg" alt="" class="index-card-logo">
              <% when 'puma' %>
              <img src="https://upload.wikimedia.org/wikipedia/fr/4/49/Puma_AG.svg" alt="" class="index-card-logo">
              <% when 'kangaroos' %>
              <img src="https://upload.wikimedia.org/wikipedia/commons/b/be/Kangourou.svg" alt="" class="index-card-logo">
              <% when 'dior' %>
              <img src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Dior_Logo.svg" alt="" class="index-card-logo">
              <% when 'nike sb' %>
              <img src="http://upload.wikimedia.org/wikipedia/commons/b/b2/Nike_sb_logo.png" alt="" class="index-card-logo">
            <% else %>
              <img src="" alt="" class="index-card-logo">
            <% end %> <%= snk.sneaker.brand %> <%= snk.sneaker.model %></td>
          <td>
            <% if snk.price_alert %>
              <%= snk.price_alert %>€
            <% else %>
              <p data-action='click->alertprice#addprice' class='btn-add-price'>Add price</p>
              <div class="add-price d-none">
                <%= simple_form_for [snk.sneaker, snk] do |f| %>
                  <%= f.input :price_alert, label: false %>
                <% end %>
              </div>
            <% end %>
          </td>
          <td><%= snk.sneaker.release %></td>
          <td><%= snk.sneaker.prices.last.price %>€</td>
          <td><i class="fas fa-pen"></i></td>
          <td>
            <%= link_to sneaker_wishlist_path(snk.id, Wishlist.find_by(user_id: current_user.id)), method: :delete, remote: true do%>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
