<div class="container custom-margin">
  <div class="d-flex justify-content-between">
    <p>My wishlist</p>
    <div class="btn-group nav-dashboard" role="group" aria-label="Basic outlined example">
      <%= link_to 'Wishlist', wishlist_path, class: "btn btn-outline-secondary"%>
      <%= link_to 'Collection', collection_path, class: "btn btn-outline-secondary"%>
      <%= link_to 'Profile', profile_path, class: "btn btn-outline-secondary"%>
    </div>
  </div>
  <h2>999,99€</h2>
  <%= image_tag"graph-dashboard.png", class:"mt-5" %>
  <div class="d-flex mt-5">
    <h4>Sneakers</h4>
  </div>
  <div class="dashboard-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="justify-text">Model</th>
          <th>Expected price</th>
          <th>Release date</th>
          <th>Actual price</th>
        </tr>
      </thead>
      <tbody>
        <% @sneaker.each do |snk| %>
          <tr>
            <td class="justify-text"><%= image_tag "nike.svg", class:"logo-rounded" %><%= snk.sneaker.brand %> <%= snk.sneaker.model %></td>
            <td>Price alert</td>
            <td><%= snk.sneaker.release %></td>
            <td><%= snk.sneaker.prices.first.price %>€</td>
            <td><i class="fas fa-pen"></i></td>
            <td><i class="fas fa-trash"></i></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
