<section class="row">
  <%= render 'shared/indexcard' %>
  <%= render 'shared/indexcard' %>
  <%= render 'shared/indexcard' %>
  <%= render 'shared/indexcard' %>
  <%= render 'shared/indexcard' %>
  <%= render 'shared/indexcard' %>
</section>
