<div class="container">
  <div class="show-page">
    <div class="title">
      <h2 class="brand"><%= @sneaker.brand %> <%= @sneaker.model %></h2>
      <h4 class="my-3 color"><%= @sneaker.color %></h4>
    </div>
    <div class="header row">
      <div class="col-md-6 left-side">
        <img class="sneaker-img" src="<%= @sneaker.imgurl %>" alt="<%= @sneaker.brand %> <%= @sneaker.model %>">
      </div>
      <div class="col-md-6 right-side">
        <div class="best-price d-flex justify-content-between">
          <p class="price">100€</p>
          <a class="market-btn"href="">Market logo <i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="information">
          <p>Size: <strong>US10</strong></p>
          <p>Model: <strong>Standard</strong></p>
          <p>Owners: <strong>1,034</strong></p>
          <div class="dash-buttons d-flex justify-content-between">
            <a class='wishlist'href="">Add to wishlist <i class="fa-solid fa-plus"></i></a>
            <a class='collection'href="">Add to collection <i class="fa-solid fa-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="price-history">
      <h4>Price history</h4>
      <%= image_tag 'T1.png', class:'graph'%>
    </div>
    <div class="price-comparator">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class='text-center'>Reseller</th>
            <th scope="col" class='text-center'>Actual price</th>
            <th scope="col" class='text-center'>Vatiation</th>
            <th scope="col" class='text-center'>Latest update</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class='text-center'>StockX Logo</th>
            <td class='text-center'>1200€</td>
            <td class='text-center'>Variation logo</td>
            <td class='text-center'>27 mai 2022</td>
          </tr>
          <tr>
            <th scope="row" class='text-center'>StockX Logo</th>
            <td class='text-center'>1200€</td>
            <td class='text-center'>Variation logo</td>
            <td class='text-center'>27 mai 2022</td>
          </tr>
          <tr>
            <th scope="row" class='text-center'>StockX Logo</th>
            <td class='text-center'>1200€</td>
            <td class='text-center'>Variation logo</td>
            <td class='text-center'>27 mai 2022</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
