<div class="container">
  <div class="show-page">
    <div class="title pt-5">
      <h2 class="brand"><%= @sneaker.brand %> <%= @sneaker.model %></h2>
      <h4 class="my-3 color"><%= @sneaker.color %></h4>
    </div>
    <div class="header row">
      <div class="col-md-6 left-side">
        <img class="sneaker-img" src="<%= @sneaker.imgurl %>" alt="<%= @sneaker.brand %> <%= @sneaker.model %>">
      </div>
      <div class="col-md-6 right-side">
        <div class="best-price d-flex justify-content-between">
          <p class="price">100€</p>
          <a class="market-btn"href=""> <%= image_tag "stockx.png" %></a>
        </div>
        <div class="information">
          <p>Size: <strong>US10</strong></p>
          <p>Model: <strong>Standard</strong></p>
          <p>Owners: <strong>1,034</strong></p>
          <div class="dash-buttons d-flex justify-content-between">
            <a class='wishlist'href="">Add to wishlist <i class="fa-solid fa-plus"></i></a>
            <a class='collection'href="">Add to collection <i class="fa-solid fa-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="price-history pt-3 pb-5">
      <h4>Price history</h4>
      <%= image_tag 'T1.png', class:'graph'%>
    </div>
    <div class="dashboard-table mt-5 mb-5">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Reseller</th>
            <th>Actual price</th>
            <th>Variation</th>
            <th>Latest update</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag "stockx.png"%></td>
            <td>150€</td>
            <td>up</td>
            <td>27/03/2022</td>
          </tr>
          <tr>
            <td><%= image_tag "wethe.png"%></td>
            <td>150€</td>
            <td>up</td>
            <td>27/03/2022</td>
          </tr>
          <tr>
            <td><%= image_tag "klekt.png"%></td>
            <td>150€</td>
            <td>down</td>
            <td>27/03/2022</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
